body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fff;
    margin: 0;
}

.calculator {
    background-color: #000;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

#display {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px 0;
    background-color: #000;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 5px;
    margin: 2px;
    color:#fff
}

button:hover {
    background-color: #111;
}